---
import { DateTime, type DurationLike } from 'luxon';

import ChatLog from '~/components/ChatLog';
import Header from '~/components/Header.astro';
import Sidebar from '~/components/Sidebar.astro';
import Layout from '~/layouts/Layout.astro';

// include hours for DST, remove if no time change
export const DAYS_AGO: DurationLike = { days: 588, hours: 1 };

const getParams = (location: URL) => {
  const searchParams = new URLSearchParams(location.search);
  return { time: searchParams.get('time') };
};

const { time } = getParams(Astro.url);

const startTime = time
  ? DateTime.fromISO(time).setZone('utc')
  : DateTime.now().setZone('utc').minus(DAYS_AGO);

const astroUrl = `${Astro.url.protocol}//${Astro.url.host}`;
---

<Layout title='Watch the Mints'>
  <main class='main-grid'>
    <Sidebar />
    <Header daysAgo={DAYS_AGO} />
    {startTime ? <ChatLog astroUrl={astroUrl} startTime={startTime.toISO()} client:load /> : null}
  </main>
</Layout>

<style>
  .main-grid {
    display: grid;
    grid-template:
      'sidebar header' 4rem
      'sidebar chat' auto
      'sidebar typing-message' min-content
      / 16rem auto;
    height: 100vh;
    overflow-y: hidden;
  }

  @media (max-width: 680px) {
    .main-grid {
      grid-template:
        'header' 4rem
        'chat' auto
        'typing-message' 2rem
        / auto;
    }
  }
</style>
